@use "../variables" as *;

.dashboard-page {
  .page-title {
    font-size: 24px;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 40px;
  }

  .placeholder-content {
    background-color: $white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    color: $text-color;
  }
}
