@use "../variables" as *;

.stats-cards {
  display: flex;
  gap: 26px;
  margin-bottom: 40px;
  flex-wrap: wrap;

  .card {
    flex: 1;
    min-width: 240px;
    background-color: $white;
    padding: 20px 30px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    border-radius: 4px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

    @media (max-width: 1200px) {
      min-width: calc(50% - 13px);
    }

    @media (max-width: 600px) {
      min-width: 100%;
    }

    .icon-wrapper {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 14px;

      &.users {
        background-color: rgba(223, 24, 255, 0.1);
        color: #df18ff;
      }
      &.active {
        background-color: rgba(87, 24, 255, 0.1);
        color: #5718ff;
      }
      &.loan {
        background-color: rgba(245, 95, 68, 0.1);
        color: #f55f44;
      }
      &.savings {
        background-color: rgba(255, 51, 102, 0.1);
        color: #ff3366;
      }
    }

    .label {
      font-size: 12px;
      font-weight: 500;
      color: $text-color;
      margin-bottom: 12px;
    }

    .value {
      font-size: 24px;
      font-weight: 600;
      color: $secondary-color;
    }
  }
}
